body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  max-width: 100%;
}

#hero {
  background-color: #7bb661;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;

}

/**COLOR CODES**/
/* #52593b - background green
/* #7bb661 - dark green/brown
/* #000f00 - black
/* #da9100 - select/yellow
/* #138808 - green